{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<div class="col" style="margin-top: 20px">
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <div class="row">
          <div class="col-md">
            <form action="{% url 'search_item' %}" method="POST">
              {% csrf_token %}
              <div class="input-group mb-3 col-md">
                <input
                  type="text"
                  class="form-control"
                  name="searched"
                  placeholder="Search Item"
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit">
                    Search
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md text-right">
            <a href="{% url 'cart_purchase' %}">
              <img
                src="{% static 'images/cart.png' %}"
                alt=""
                class="img-button"
              />
            </a>
          </div>
        </div>
        <br />
        <div class="row">
          {% for item in items %}
          <div class="col-lg-4">
            <img
              class="thumbnail"
              src="/images/{{ item.image }}"
            />
            <div class="box-element product">
              <h6><strong>{{ item.nama }}</strong></h6>
              <hr />

              <button class="btn btn-outline-secondary add-btn">
                Add to Cart
              </button>
              <a class="btn btn-outline-success" href="#">View</a>
              <h4 style="display: inline-block; float: right">
                <strong>Rp. {{ item.price | floatformat:2 }}</strong>
              </h4>
            </div>
          </div>  
          {% endfor %}        
        </div>

        {% comment %}
        <table class="table">
          <tr>
            <th>Nama</th>
            <th>Deskripsi</th>
            <th>&nbsp;</th>
          </tr>
          {% for x in items %}
          <tr>
            <td>{{ x.nama }}</td>
            <td>{{ x.deskripsi }}</td>
            <td>
              <a
                href="{% url 'update_account' x.id %}"
                class="btn btn-sm btn-info"
                >Add</a
              >
            </td>
          </tr>
          {% endfor %}
        </table>
        {% endcomment %} <br /><br />
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if items.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; First</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{items.previous_page_number}}"
                  >Previous</a
                >
              </li>
              {% elif not items.has_previous %}
              <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
              </li>
              {% endif %} {% for page in items.paginator.page_range %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
              </li>
              {% endfor %} {% if items.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ items.next_page_number }}"
                  >Next</a
                >
              </li>
              {% endif %}
              <li class="page-item">
                <a class="page-link" href="?page={{ items.paginator.num_pages}}"
                  >Last &raquo</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
